aiohttp==3.8.1
aiosignal==1.2.0
appdata==2.1.2
asgiref==3.5.2
async-timeout==4.0.2
attrs==21.4.0
beautifulsoup4==4.11.1
bokeh==2.4.3
Brotli==1.0.9
certifi==2021.10.8
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.0.7
click==8.0.3
cryptography==37.0.4
cycler==0.11.0
dash==2.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.9.1
dash-table==5.0.0
defusedxml==0.7.1
descartes==1.1.0
dhooks==1.1.4
dj-database-url==1.0.0
Django==4.0.4
django-allauth==0.51.0
django-ckeditor==6.5.0
django-colorfield==0.7.2
django-crispy-forms==1.14.0
django-js-asset==2.0.0
django-multiselectfield==0.1.12
filelock==3.7.1
Flask==2.0.2
Flask-Compress==1.12
fonttools==4.33.3
frozenlist==1.3.0
googletrans==3.0.0
gunicorn==20.1.0
h11==0.9.0
h2==3.2.0
heroku==0.1.4
hpack==3.0.0
hstspreload==2021.12.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
kiwisolver==1.4.2
langdetect==1.0.9
lxml==4.9.0
MarkupSafe==2.0.1
matplotlib==3.5.2
multidict==6.0.2
neattext==0.1.3
netifaces==0.10.6
nltk==3.7
numpy==1.22.4
oauthlib==3.2.0
packaging==21.3
pandas==1.4.2
pdf2image==1.16.0
Pillow==9.1.1
plotly==5.8.2
psycopg2==2.9.3
psycopg2-binary==2.9.3
py4j==0.10.9.2
pybind11==2.10.0
pycparser==2.21
PyJWT==2.4.0
pyparsing==3.0.9
PyPDF2==2.10.0
PySocks==1.7.1
pyspark==3.2.0
pytesseract==0.3.9
python-dateutil==1.5
python-decouple==3.6
python3-openid==3.2.0
pytz==2022.1
PyYAML==6.0
regex==2022.4.24
requests==2.28.0
requests-oauthlib==1.3.0
rfc3986==1.5.0
scipy==1.8.1
seaborn==0.11.2
six==1.16.0
sniffio==1.2.0
snscrape==0.4.3.20220106
socketio==0.2.1
soupsieve==2.3.2.post1
sqlparse==0.4.2
stopwords==1.0.0
tenacity==8.0.1
textblob==0.17.1
timeago==1.0.15
to-requirements.txt==1.1.8
tornado==6.1
tqdm==4.64.0
tweepy==4.10.0
twilio==7.12.0
twitter==1.19.3
typing_extensions==4.2.0
urllib3==1.26.7
vaderSentiment==3.3.2
Werkzeug==2.0.2
whitenoise==6.2.0
wordcloud==1.8.1
yarl==1.7.2
