{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- Page Wrapper -->

{% include 'includes/sa_sidebar.html' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {% include 'includes/navbar.html' %}
                <!-- Breadcrumb  -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-white border mb-4 shadow rounded-0">
                        <li class="breadcrumb-item">Manage</li>
                        <li class="breadcrumb-item">User Accounts</li>
                        <!-- <li class="breadcrumb-item active"><a href="#">Page</a></li> -->
                        <li class="breadcrumb-item active" aria-current="page">All Users</li>
                    </ol>
                </nav>
                <!-- End of Breadcrumb  -->



                <!-- ===== INSERT CONTENT HERE  ===== -->

                <!-- Page Content -->
                <div class="container-fluid">

                    <!-- Page Title -->
                    <div class="d-flex bd-highlight">
                        <div class="pg-title p-2 flex-grow-1 bd-highlight">
                            <h4>Incident Report</h4>
                        </div>
                    </div>

                    <!-- User Report Table  -->
                    <div class="card shadow mb-5 d-flex ">
                        <!-- Top Pagination  -->
                        <div class="card-header py-3">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link " href="{% url 'incident_report_general_view' general_instance.id %}">General</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'incident_report_people_vehicle_main' general_instance.id %}">People</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'incident_report_vehicle_main' general_instance.id %}">Vehicle</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'incident_report_media_main' general_instance.id %}">Media</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'incident_report_remarks_view' general_instance.id %}">Remarks</a>
                                </li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                {% if people_instance %}
                                <table class="table table-bordered table-hover text-dark" id="user_report" width="100%"
                                    style="cursor: pointer;" cellspacing="0">

                                    <!-- Table Header  -->
                                    <thead>
                                        <tr>
                                            <th>Report ID</th>
                                            <th>First Name</th>
                                            <th>Middle Name</th>
                                            <th>Last Name</th>
                                            <th>Involvement</th>
                                            <th>Injury</th>
                                            {% comment %} <th>Accident Factor</th>
                                            <th>Collision Type</th> {% endcomment %}
                                            {% comment %} <th>Date</th>
                                            <th>Time</th>
                                            <th>Status</th> {% endcomment %}
                                            <th>Settings</th>
                                        </tr>
                                    </thead>

                                    <!-- Table Body  -->
                                    <tbody>
                                        {% for people in people_instance %}
                                       
                                        <tr>
                                            <td>{{people.id}}</td>
                                            <td>{{people.incident_first_name}}</td>
                                            <td>{{ people.incident_middle_name}}</td>
                                            <td>{{people.incident_last_name}}</td>
                  
                                            <td>{{people.incident_involvement}}</td>
                                            {% comment %} <td>{{incident__incident_general.accident_factor}}</td>
                                            <td>{{incident.collision_type}}</td> {% endcomment %}
                                            <td>{{people.incident_injury}}</td>
                                       
                                    
                                            <td>
                                                <a href="{% url 'incident_report_people_vehicle_view' general_instance.id people.id %}"><i class='bx bxs-folder-open'
                                                    title="View"></i></a>
                       
                                                        <a href="" data-toggle="modal" data-target="#deleteuserModal{{ people.id }}"><i class='bx bx-trash'
                                                            data-toggle="tooltip" title="Delete" ></i></a>
                                            </td>
                                            
                                        </tr>
                                                <!-- Delete Modal HTML -->
                                <div class="modal fade" id="deleteuserModal{{ people.id }}" tabindex="-1" role="dialog" aria-labelledby="usermodal" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Delete this account?</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                    </button>
                                            </div>
                                        <div class="modal-body">
                                            <h6>Do you want to delete the selected record? This process cannot be undone.</h6>
                                        </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                
                                    
                                        
                                                    <a class="btn btn-sm btn-danger" href="{% url 'super_user_report_people_delete' people.id %}">Delete</a>
                                            
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                        {% endfor %}
                                    </tbody>
                                    <!-- End of Table Body  -->

                                </table>
                                {% else %}

                        <h5 class="text-center">No User Report.</h5>
                             
                        {% endif %}

                                
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- End of User Report Table  -->

                </div>
                <!-- End of Page Content -->

                <!-- ===== END OF CONTENT  ===== -->


            </div>

                <!-- ===== END OF CONTENT  ===== -->

        </div>
       
            <!-- End of Main Content  -->


            <!-- Scroll to Top-->
            <a class="scroll-to-top rounded" href="#scroll-up">
                <i class='bx bxs-up-arrow'></i>
            </a>
            <!-- End of Scroll to Top-->


            {% include 'includes/alerts.html' %}

            {% endblock %}





