{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- Page Wrapper -->

{% include 'includes/sa_sidebar.html' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {% include 'includes/navbar.html' %}
                <!-- Breadcrumb  -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-white border mb-4 shadow rounded-0">
                        <li class="breadcrumb-item">Manage</li>
                        <li class="breadcrumb-item">User Accounts</li>
                        <!-- <li class="breadcrumb-item active"><a href="#">Page</a></li> -->
                        <li class="breadcrumb-item active" aria-current="page">All Users</li>
                    </ol>
                </nav>
                <!-- End of Breadcrumb  -->



                <!-- ===== INSERT CONTENT HERE  ===== -->

                <!-- Page Content -->
                <div class="container-fluid">

                    <!-- Page Title -->
                    <div class="d-flex bd-highlight">
                        <div class="pg-title p-2 flex-grow-1 bd-highlight">
                            <h4>Incident Report</h4>
                        </div>
                    </div>

                    <!-- Incident Report  -->
                    <div class="card shadow mb-5 d-flex ">
                        <!-- Top Pagination  -->
                        <div class="card-header py-3">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link " href="{% url 'incident_report_general_view' general_instance.id %}">General</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'incident_report_people_view' general_instance.id  %}">People</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'incident_report_vehicle_view' general_instance.id %}">Vehicle</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'incident_report_media_view' general_instance.id %}">Media</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'incident_report_remarks_view' general_instance.id %}">Remarks</a>
                                </li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table>
                                    <form>
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <strong>Encoder's Email: </strong>
                                                {% if general_instance.user_report.user.username != None %}
                                                {{general_instance.user_report.user.email}}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <strong>FTTM First Responder Name: </strong>
                                                {% if remarks_instance.responder != None %}
                                                {{remarks_instance.responder}}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <strong>Actions Taken: </strong>
                                                {% if remarks_instance.action_taken != None %}
                                                {{remarks_instance.action_taken}}
                                                {% endif %}
                                            </div>
                                        </div>

                                        <!-- ================================= -->
                                        <hr>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <strong>Created Date: </strong>
                                                {% if general_instance.created_at != None %}
                                                {{general_instance.created_at}}
                                                {% endif %}
                                            </div>
                                            <div class="form-group col-md-6">
                                                <strong>Updated Date: </strong>
                                                {% if general_instance.updated_at != None %}
                                                {{general_instance.updated_at}}
                                                {% endif %}
                                            </div>
                                        </div>


                                    <div class="modal-footer">
                                        {% comment %} <input type="button" class="btn btn-secondary" data-dismiss="modal"
                                            value="Clear"> {% endcomment %}
                                        <input type="submit" class="btn btn-primary" value="Edit">
                                    </div>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- End of Incident  -->

                </div>
                <!-- End of Page Content -->

                <!-- ===== END OF CONTENT  ===== -->


            </div>

                <!-- ===== END OF CONTENT  ===== -->


       
            <!-- End of Main Content  -->


            <!-- Scroll to Top-->
            <a class="scroll-to-top rounded" href="#scroll-up">
                <i class='bx bxs-up-arrow'></i>
            </a>
            <!-- End of Scroll to Top-->



            {% include 'includes/alerts.html' %}

            {% endblock %}





