{% load static %}
<html>

    <head>
        <meta charset="UTF-8">
        <meta name=""viewport" content="width=device-width, initial-scale="1">

        <title> Trapiko: Traffic Incident Report Management System </title>
        <!-- Favicon-->
    <link href="{% static 'images/faviconwhite.png' %}" rel="icon">
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/cee4067ed5.js" crossorigin="anonymous"></script>
        <link href="{% static 'css/signinstyles.css' %}" rel="stylesheet" type="text/css"> 
        <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css"> 
        
    </head>
    
    <body oncontextmenu="return false">

      
  {% block auto-logout %}
  {% endblock auto-logout %}  

       <section class="h-100 gradient-form">
          <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
              <div class="card rounded-1 text-black">
              <div class="row g-0">
                <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">

                  <div class="text-center">
                  <a href="{% url 'home' %}"><img src="{% static 'logo/SignosLogo.png' %}"
                    style="width: 185px;" alt="logo"></a>
                  <h4 class="mt-1 mb-5 pb-1">We are The Link Technologies</h4>
                  </div>

                  <form id="form1" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                  <p>Login to your account to send traffic incident reports in Quezon City. </p>

                 <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        {% include 'includes/alerts.html' %}
                    </div>
                </div> 
               
                  <div class="form-outline mb-2">
                    <label class = "form-label" for="username"></label>
                    <input id="input" type = "text" name="username" value="" placeholder="Username">
                    <span class="text-danger"> </span>
                    
                  </div>

                  <div class="form-outline mb-4">
                    
                    <label class="form-label" for="password"></label>
                    <input id="input" type = "password" name="password" value="" placeholder="Password">
                    <span class="text-danger"></span>
                   
                  </div>


                  <div class="text-center pt-1 mb-5 pb-1">
                    <input type="submit" id="button" class="btn btn-outline-dark" name="loginSubmit" value="Submit">
                  </div>

                  

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Don't have an account? <a id="reg" href="{% url 'registration' %}">Sign up now</a></td></p>
                  </div>

                  

                  </form>

                  

                </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4 text-center">What do we do?</h4>
                  <p class="small mb-0">Traffic Incident Report Management System with Geospatial Mapping Technology 
                    and Heat Map Analysis for Quezon City</p>
                </div>
                </div>
              </div>
              </div>
            </div>
            </div>
          </div>
        </section>  

        <!--Footer-->
        <div id = "copyright" class="d-flex text-center text-md-start justify-content-between py-4 px-4 px-xl-4">
        <!-- Copyright -->
            <div class="text-white mb-0">
              <b> Disclaimer: </b> This is website is intended for for educational purposes only. 
            </div>
             <!-- Copyright -->
        </div>
            
      
        <!--Footer-->
        <script>
          document.addEventListener('contextmenu',(e)=>{
              e.preventDefault();
            }
            );
            document.onkeydown = function(e) {
            if(event.keyCode == 123) {
               return false;
            }
            if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
               return false;
            }
            if(e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
               return false;
            }
            if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
               return false;
            }
            if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
               return false;
            }
          }
      </script>
        
    </body>

  <!-- include Modal -->
  {% include 'modals/logout.html' %}
  {% include 'modals/logout_info.html' %}
  {% include 'modals/logout_warning.html' %}

  <!-- Auto logout-->
  {% for message in messages %}
          {% if message.tags == 'info' %}
          <script
    src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            $('#infoModal').modal('show');
        });
    </script>
          {% endif %}
  {% endfor %}
  

</html>