{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link href="{% static 'css/m_myreports.css' %}" rel="stylesheet">
<link href=" {% static 'css/profile.css' %} " rel="stylesheet">
<link href="{% static 'css/user_account.css' %}" rel="stylesheet"> 

{% endblock styles %}



{% block content %}


<!-- Page Wrapper -->

{% include 'includes/m_sidebar.html' %}
    


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            {% include 'includes/navbar.html' %}



            <!-- ===== MAIN CONTENT  ===== -->

            <!-- Page Content -->
            <main>
                <div class="container">
                
                    <!-- FIRST PART OF USER PROFILE-->
                    <h1> My Profile </h1>
      
                    <div class="card social-prof">
                        <div class="card-body-profile">
                            <div>
                                {% if profile.profile_picture %}
                                <img class="thumbnail" src="{{profile.profile_picture.url}}" alt="Profile Picture">
                                {% else %}
                                <img class="thumbnail" src="{% static 'images/user.jpeg' %}" alt="Profile Picture">
                                {% endif %}   
                                <h3 class="text-center">{{profile.user.first_name}} {{profile.user.last_name}}</h3>
                                <button class="member-btn mt-3" > {{profile.user.get_role}} </button>
                                <a href="{% url 'member_profile_edit' %}"><button class="edit-btn mb-3" type="button" href=""> Edit</button></a>
                            </div>
                        </div>
                    </div>
        
        
                  
                    <div class="row">
                        <!-- LEFT MOST BOXES -->
                        <div class="col-lg-3">
                            
                            <!-- BASIC INFORMATION-->
                            <div class="card">
                                <div class="card-body">
                                    <div class="about mb-2"> About You </div>
                                    <div class ="basic-info pb-1"><strong>Name:</strong> {{profile.user.first_name}} {{profile.user.middle_name}} {{profile.user.last_name}}</div>  <!--Show Backend-->
                                    <div class="basic-info pb-1"><strong> Birthday:</strong> {{profile.birthdate}} </div> <!--Show Backend-->
                                    <div class="basic-info pb-1"><strong> Mobile number:</strong>  {{profile.user.mobile_number}} </div> <!--Show Backend-->
                                </div>
                            </div>
                            <!-- END OF BASIC INFORMATION-->

                            <!-- PUBLISHED REPORTS-->
                            <div class="card">
                                <div class="card-body">
                                    <div class="published-text"> <strong> Published Report </strong></div>
                                    <div class="published-text">2</div> <!-- SHOW BACKEND-->
                                </div>
                            </div>
                        </div>
                        <!-- END OF LEFT MOST BOXES-->
        
                        
        
        
                        
        
        
                        <div class="col-lg-6 gedf-main">
                            
                            <!--REPORT PROCESS-->
                            <div class="card social-timeline-card">
                                <div class="card-header">
                                    <h5>Reports</h5> 
                                    <hr>
                                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">View All</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="pending-tab" data-toggle="tab" role="tab" aria-controls="pending" aria-selected="false" href="#peding">Pending</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="approved-tab" data-toggle="tab" role="tab" aria-controls="approved" aria-selected="false" href="#approved">Approved</a>
                                        </li>
                                        <li class="nav-item mb-2">
                                            <a class="nav-link" id="rejected-tab" data-toggle="tab" role="tab" aria-controls="rejected" aria-selected="false" href="#rejected">Rejected</a>
                                        </li>
                                    </ul>
                                </div>
                                
                            </div>
                            <!-- END OF REPORT PROCESS -->
        
                            <!--- \\\\\\\Post-->
                            <div class="card social-timeline-card">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="mr-2">
                                                <img class="rounded-circle" width="45" src="images/sampleprofile.jpg" alt="">
                                            </div>
                                            <div class="ml-2">
                                                <div class="h5 m-0 text-blue">Jone Smith</div>
                                                <div class="text-muted mb-1"> <i class="fa fa-clock-o fa-xs"></i> Published 10 min ago</div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="dropdown">
                                                <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop11" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-h"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop11">
                                                    <div class="h6 dropdown-header"> Settings </div>    
                                                    <a class="dropdown-item" href="#">Edit</a>
                                                    <a class="dropdown-item" href="#">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body"> <!-- BACKEND SHOW-->
                                        <img src="images/sampleprofile.jpg" class="photos mb-3">

                                        <table>
                                            <tr>
                                                <td> <p class = "padding-title"><strong>Point of Direction</strong></p></td>
                                                <td> <p class ="padding"> Southwest Bound </p> </td>
                                            </tr>

                                            <tr>
                                                <td> <p class = "padding-title"><strong>Location</strong></p></td>
                                                <td> <p class="padding"> Bagong Silangan Batasan Hills  </p> </td>
                                            </tr>

                                            <tr>
                                                <td> <p class = "padding-title"><strong>District</strong></p></td>
                                                <td> <p class="padding"> Disctrict II</p> </td>
                                            </tr>

                                            <tr>
                                                <td> <p class = "padding-title"><strong>Type of Vehicle Involved</strong></p></td>
                                                <td> <p class="padding"> Motorbikes, Jeep</p> </td>
                                            </tr>

                                            <tr>
                                                <td> <p class = "padding-title"><strong>Description</strong></p></td>
                                                <td> <p class="padding"> The motorbikes loses his balance.</p> </td>
                                            </tr>

                                            <tr>
                                                <td> <p class = "padding-title"><strong>Does it cause traffic?</strong></p></td>
                                                <td> <p class="padding"> Yes </p> </td>
                                            </tr>
                                        </table>
                                </div>

                                <div class="card-footer">
                                        <span class="badge badge-primary">Pending</span>
                                    </div>
                                </div>
                        
                            <!--- \\\\\\\Post-->
                            <div class="card social-timeline-card">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="mr-2">
                                                <img class="rounded-circle" width="45" src="images/sampleprofile.jpg" alt="">
                                            </div>
                                            <div class="ml-2">
                                                <div class="h5 m-0 text-blue">Jone Smith </div>
                                                <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o fa-xs"></i> Approved 1 day ago</div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="dropdown">
                                                <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-h"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                                    <div class="h6 dropdown-header">Settings</div>
                                                    <a class="dropdown-item" href="#">Edit</a>
                                                    <a class="dropdown-item" href="#">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">                                   
                                        <img src="images/sampleprofile.jpg" class="photos mb-3">
                    
                                                        <table>
                                                            <tr>
                                                                <td> <p class = "padding-title"><strong>Point of Direction</strong></p></td>
                                                                <td> <p class ="padding"> Southwest Bound </p> </td>
                                                            </tr>
            
                                                            <tr>
                                                                <td> <p class = "padding-title"><strong>Location</strong></p></td>
                                                                <td> <p class="padding"> Bagong Silangan Batasan Hills  </p> </td>
                                                            </tr>
            
                                                            <tr>
                                                                <td> <p class = "padding-title"><strong>District</strong></p></td>
                                                                <td> <p class="padding"> Disctrict II</p> </td>
                                                            </tr>
            
                                                            <tr>
                                                                <td> <p class = "padding-title"><strong>Type of Vehicle Involved</strong></p></td>
                                                                <td> <p class="padding"> Motorbikes, Jeep</p> </td>
                                                            </tr>
            
                                                            <tr>
                                                                <td> <p class = "padding-title"><strong>Description</strong></p></td>
                                                                <td> <p class="padding"> The motorbikes loses his balance.</p> </td>
                                                            </tr>
            
                                                            <tr>
                                                                <td> <p class = "padding-title"><strong>Does it cause traffic?</strong></p></td>
                                                                <td> <p class="padding"> Yes </p> </td>
                                                            </tr>
                                                        </table>                                    
                                </div>

                                <div class="card-footer">
                                    <span class="badge badge-primary">Approved</span>
                                </div>
                            </div>
                        
                            
                            <!-- Post /////-->
                        </div>
                        <div class="col-lg-3">
                            <div class="card social-timeline-card">
                                <div class="card-body">
                                    <h5 class="card-title-photos"> Photos & Videos <a href="#" class="see-more"> See More</a> </h5>
                                    
                                    <table class="table">
                                        <tr> 
                                            <td>
                                                <img src="images/sampleprofile.jpg" class="photos-side">
                                            </td>
                                            <td>
                                                <img src="images/sampleprofile.jpg" class="photos-side">
                                            </td>
                                        </tr>
                                        <tr> 
                                            <td>
                                                <img src="images/sampleprofile.jpg" class="photos-side">
                                            </td>
                                            <td>
                                                <img src="images/sampleprofile.jpg" class="photos-side">
                                            </td>
                                        </tr>
                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- End of Page Content -->

 
            <!-- ===== END OF CONTENT  ===== -->



        </div>
        <!-- End of Main Content  -->


        <!-- Scroll to Top-->
        <a class="scroll-to-top rounded" href="#scroll-up">
            <i class='bx bxs-up-arrow'></i>
        </a>
        <!-- End of Scroll to Top-->

{% include 'includes/alerts.html' %}

{% endblock %}