<!DOCTYPE html>
{% load static %}
<html lang="en">

<title> Forgot Password - Signos Trapiko </title> 

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Forgot Password </title>

    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <!-- Favicon-->
    <link href="{% static 'images/faviconwhite.png' %}" rel="icon">

    <!-- Boxicons CDN Link - for Icons -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <!-- Font Awesome  - Jocelle's Kit for Arrow Icons -->
    <script src="https://kit.fontawesome.com/d6b7ac4c6c.js" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link href="{% static 'css/vendor/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/forgot-password.css' %}" rel="stylesheet">

    
</head>

<body>
   <section class="wrapper mt-5">
    <div class="container">
        <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center">
            
            <div class="logo">
                <img src="{% static 'images/SignosTrapiko.png' %}" class="img-fluid w-60 mb-2" alt="logo" href="#!">
            </div>


            <form class="rounded bg-white shadow p-5" action="{% url 'reset_password'  %}"  method="post">
                {% csrf_token %}
            
                <h3 class="text-dark fw-bolder fs-4 mb-2"> Reset Password </h3>
                
            
                <div class = "form-floating mb-3">
                    <input type="password" class="form-control" id="floating-password" name="password" >
                    <label for="floating-password"> Password </label>
                </div>

                <div class = "form-floating mb-3">
                    <input type="password" class="form-control" id="floating-Confirmpassword" name="confirm_password">
                    <label for="floating-Confirmpassword"> Confirm Password </label>
                </div>



                <button type="submit" class="btn btn-primary submit-btn w-100 mb-4"> Reset Password </button> 


              
            </form>
        </div>
    </div>

   </section>
</body>
</html>