{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link href="{% static 'css/admin_dashboard.css' %}" rel="stylesheet">

{% endblock styles %}



{% block content %}


<!-- Page Wrapper -->

{% include 'includes/sa_sidebar.html' %}
    


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            {% include 'includes/navbar.html' %}



            <!-- ===== INSERT CONTENT HERE  ===== -->

                <!-- Page Content -->
                <div class="container-fluid">

                    <!-- Generate Buttons -->
                    <div class="d-flex bd-highlight">
                        <div class="pg-title p-2 flex-grow-1 bd-highlight">
                            <h4>Dashboard</h4>
                        </div>
                        <div class="p-2 bd-highlight">
                            <a href="{% url 'dashboard-index-map' %}" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-1 bd-highlight">
                                <i class="bx bx-map-alt"></i> Incident Map</a>
                        </div>
                        {% comment %} <div class="p-2 bd-highlight">
                            <a href="{% url 'superadmin_dashboard_export' %}" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm bd-highlight">
                                <i class="bx bxs-download"></i> Export</a>
                        </div> {% endcomment %}
                    </div>
                    <div class="container cards mb-3">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <div class="card-box bg-yellowOrange rounded shadow-sm">
                                    <div class="inner">
                                        <h6>Total</h6>
                                        <h2>{{incidentReports | length}}</h2>
                                    </div>
                                    <a href="{%url 'user_reports' %}" class="card-box-top"></a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="card-box bg-darkLightBlue rounded shadow-sm">
                                    <div class="inner">
                                        <h6>Today</h6>
                                        <h2>{{incidentReports_today | length}}</h2>
                                    </div>
                                    <a href="{%url 'user_reports_today' %}" class="card-box-top"></a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="card-box bg-darkSoftRed rounded shadow-sm">
                                    <div class="inner">
                                        <h6>Pending</h6>
                                        <h2>{{incidentReports_pending| length}}</h2>
                                    </div>
                                    <a href=" {%url 'user_reports_pending' %} " class="card-box-top"></a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="card-box bg-darkStrongCyan rounded shadow-sm">
                                    <div class="inner">
                                        <h6>Approved</h6>
                                        <h2>{{incidentReports_approved | length}}</h2>
                                    </div>
                                    <a href="{%url 'user_reports_approved' %}" class="card-box-top"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Heat Map-->
                        <div class="col-xl-12">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div>
                                        <div class="container">
                                            <div class="row mt-4">
                                                <div class="col-md-10 offset-md-1">
                                                    
                                                    <form method="post">
                                                        {% csrf_token %}
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Filter Reports</h4>
                                                        </div>
                                                        <div class="modal-body form-row ">
                                                            <div class="form-group col-md-6">
                                                                <label>From</label>
                                                                <input type="date" name="fromdate" class="form-control date" required>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label>Until</label>
                                                                <input type="date" name="todate" class="form-control date" required>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="modal-footer">
                                                            <input type="submit" class="btn btn-primary" value="Save Changes">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Heat Map-->
                    </div>
                    
                    <!-- Counter Cards  -->
                    
                    <!-- End of Counter Cards  -->

                    {% comment %} <div class="row">
                        <!-- Line Graph -->
                        <div class="col-xl-12">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Number of Traffic Incident Per Month</h6>

                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <canvas id="myChart3" width="300" height="200"></canvas>
                                    <script>
                                        var labels = [];
                                        {% for d in labels2 %}
                                        labels.push(new Date("{{ d.isoformat }}"));
                                        {% endfor %}
                                        new Chart(document.getElementById("myChart3"), {
                                            type: 'line',
                                            data: {
                                              labels: labels,
                                              datasets: [{ 
                                                  data: {{ data2|safe }},
                                                  label: "Africa",
                                                  borderColor: "#3e95cd",
                                                  fill: false
                                                }
                                              ]
                                            },
                                            options: {
                                                scales: {
                                                    xAxes: [{
                                                      type: 'date'
                                                    }]
                                                  }
                                            }
                                          });
                                    </script>
                                </div>
                            </div>
                        </div>
                        <!-- End of Line Graph -->
                    </div> {% endcomment %}

                    <div class="row">
                        <!-- Pie Chart - Public Vehicles Involved-->
                        <div class="col-xl-6 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Types of Vehicles Involved</h6>

                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <canvas id="myChart1" width="400" height="300"></canvas>
                                    <script>
                                        var ctx = document.getElementById('myChart1').getContext('2d');
                                        var myChart1 = new Chart(ctx, {
                                            type: 'pie',
                                            data: {
                                                labels: {{ labels1|safe }},
                                                datasets: [{
                                                    label: 'Products',
                                                    data: {{ data1|safe }},
                                                    backgroundColor: [
                                                        'rgba(255, 99, 132, 1)',
                                                        'rgba(54, 162, 235, 1)',
                                                        'rgba(255, 206, 86, 1)',
                                                        'rgba(75, 192, 192, 1)',
                                                        'rgba(153, 102, 255, 1)',
                                                        'rgba(255, 159, 64, 1)'
                                                    ],
                                                    borderColor: [
                                                        'rgba(255, 99, 132, 1)',
                                                        'rgba(54, 162, 235, 1)',
                                                        'rgba(255, 206, 86, 1)',
                                                        'rgba(75, 192, 192, 1)',
                                                        'rgba(153, 102, 255, 1)',
                                                        'rgba(255, 159, 64, 1)'
                                                    ],
                                                    borderWidth: 1
                                                }]
                                            },
                                            options: {
                                                responsive: true,
                                                maintainAspectRatio: false,
                                                legend: {
                                                    position: 'bottom',
                                                },
                                                tooltip: { isHtml: false },
                                                elements: {
                                                    point: {
                                                        radius: 10,
                                                        hoverRadius: 15,
                                                        }
                                                },
                                                scales: {
                                                    yAxes: [{
                                                        ticks: {
                                                            beginAtZero:true
                                                        },
                                
                                                    }],
                                                    xAxes: [{
                                                        ticks: {
                                                            beginAtZero:true
                                                        },
                                                    }]
                                                },
                                            }
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                        <!--End of Pie Chart - Public Vehicles Involved-->

                        <!-- Pie Chart - Private Vehicles Involved-->
                        <div class="col-xl-6 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Severity</h6>

                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <canvas id="myChart2" width="400" height="300"></canvas>
                                    <script>
                                        var ctx = document.getElementById('myChart2').getContext('2d');
                                        var myChart1 = new Chart(ctx, {
                                            type: 'bar',
                                            data: {
                                                labels: {{labels | safe}},
                                                datasets: [{
                                      
                                                    data: {{data | safe}},
                                                    backgroundColor: [
                                                        'rgba(255, 99, 132, 1)',
                                                        'rgba(54, 162, 235, 1)',
                                                        'rgba(255, 206, 86, 1)',
                                                        'rgba(75, 192, 192, 1)',
                                                        'rgba(153, 102, 255, 1)',
                                                        'rgba(255, 159, 64, 1)'
                                                    ],
                                                    borderColor: [
                                                        'rgba(255, 99, 132, 1)',
                                                        'rgba(54, 162, 235, 1)',
                                                        'rgba(255, 206, 86, 1)',
                                                        'rgba(75, 192, 192, 1)',
                                                        'rgba(153, 102, 255, 1)',
                                                        'rgba(255, 159, 64, 1)'
                                                    ],
                                                    borderWidth: 1
                                                }]
                                            },
                                            options: {
                                                responsive: true,
                                                maintainAspectRatio: false,
                                                legend: {
                                                    display: false,
                                                },
                                                tooltip: { isHtml: false },
                                                elements: {
                                                    point: {
                                                        radius: 10,
                                                        hoverRadius: 15,
                                                        }
                                                },
                                                scales: {
                                                    yAxes: [{
                                                        ticks: {
                                                            beginAtZero:true
                                                        },
                                
                                                    }],
                                                    xAxes: [{
                                                        ticks: {
                                                            beginAtZero:true
                                                        },
                                                    }]
                                                },
                                            }
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                        <!--End of Pie Chart - Private Vehicles Involved-->
                        {% comment %} <div class="col-xl-6 col-lg-6">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Traffic Incident Per District</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Title</div>
                                            <a class="dropdown-item" href="#">Action 1</a>
                                            <a class="dropdown-item" href="#">Action 2</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Action 3</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div>
                                        <h1>PIE CHART</h1>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-danger"></i> A
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> B
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> C
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div> {% endcomment %}

                    <!--End of Pie Chart - Private Vehicles Involved-->
                </div>

                    <div class="row">
                        <!-- Geospatial Map-->
                        <div class="col-xl-12">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Distribution Point Map</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div>
                                        <div class="container">
                                            <div class="row mt-4">
                                                <div class="col-md-10 offset-md-1">
                                                    {{ map2|safe }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Geospatial Map-->
                    </div>

                    <div class="row">
                        <!-- Heat Map-->
                        <div class="col-xl-12">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Heat Map</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div>
                                        <div class="container">
                                            <div class="row mt-4">
                                                <div class="col-md-10 offset-md-1">
                                                    
                                                    {{ map1|safe }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Heat Map-->
                    </div>


                </div>
                <!-- End of Page Content -->

                <!-- ===== END OF CONTENT  ===== -->



        </div>
        <!-- End of Main Content  -->


        <!-- Scroll to Top-->
        <a class="scroll-to-top rounded" href="#scroll-up">
            <i class='bx bxs-up-arrow'></i>
        </a>
        <!-- End of Scroll to Top-->

{% include 'includes/alerts_frame.html' %}

{% endblock %}

