{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link href="{% static 'css/user_report.css' %}" rel="stylesheet">
<link href="{% static 'css/m_myreports.css' %}" rel="stylesheet">
<link href="{% static 'css/m_reports.css' %}" rel="stylesheet">
{% endblock styles %}

{% block content %}


<!-- Page Wrapper -->

{% if profile.user.role == 2 %}
{% include 'includes/a_sidebar.html' %}




    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            {% include 'includes/navbar.html' %}

            <!-- Breadcrumb  -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white border mb-4 shadow rounded-0">
                    <li class="breadcrumb-item">Manage</li>
                    <li class="breadcrumb-item">Reports</li>
                    <!-- <li class="breadcrumb-item active"><a href="#">Page</a></li> -->
                    <li class="breadcrumb-item active " aria-current="page">User Report</li>
                </ol>
            </nav>
            <!-- End of Breadcrumb  -->



             <!-- ===== INSERT CONTENT HERE  ===== -->

                <!-- Page Content -->
                <div class="container-fluid">

                    <!-- Page Title -->
                    <div class="d-flex bd-highlight">
                        <div class="pg-title p-2 flex-grow-1 bd-highlight">
                            <h4>User Report Management</h4>
                        </div>
                        <div class="d-flex bd-highlight">
                            <div class="p-2 bd-highlight">
                                <a href="{% url 'a_simple_upload' %}" title ="Add User"
                                    class="d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-1 bd-highlight">
                                    <i class='bx bx-user-plus'></i> Upload Incident General</a>
                                    <a href="{% url 'a_simple_upload_additional'%}" title ="Add User"
                                    class="d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-1 bd-highlight">
                                    <i class='bx bx-user-plus'></i> Upload Incident Additional</a>
        
                                <!-- <a href="#add2"
                                    class="d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-1 bd-highlight"
                                    data-toggle="modal" data-toggle="tooltip">
                                    <i class='bx bx-user-plus'></i> Add User</a> -->
                            </div>
                        </div>
                    </div>

                    <!-- User Report Table  -->
                    <div class="card shadow mb-5">
                        <!-- Top Pagination  -->
                        <div class="card-header py-3">
                            <ul class="nav nav-pills card-header-pills">
                                <li class="nav-item">
                                    <a class="{% if '/userReport' == request.path %} nav-link active {% else %} nav-item {% endif %}" href="{% url 'user_report' %}">All Reports</a>
                                </li>
                                <li class="nav-item">
                                    <a class="{% if '/userReports/today' == request.path %} nav-link active {% else %} nav-item {% endif %}" href="{% url 'user_report_today' %}">Today</a>
                                </li>
                                <li class="nav-item">
                                    <a class="{% if '/userReport/pending' == request.path %} nav-link active {% else %} nav-item {% endif %}" href="{% url 'user_report_pending' %}">Pending</a>
                                </li>
                                <li class="nav-item">
                                    <a class="{% if '/userReport/approved' == request.path %} nav-link active {% else %} nav-item {% endif %}" href="{% url 'user_report_approved' %}">Approved</a>
                                </li>
                                <li class="nav-item">
                                    <a class="{% if '/userReport/rejected' == request.path %} nav-link active {% else %} nav-item {% endif %}" href="{% url 'user_report_rejected' %}">Rejected</a>
                                </li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <form id="form1" action="{% url 'user_reports' %}" enctype="multipart/form-data" method="post">
                                    {% csrf_token %}
                                    
                                    {% if incidentReports %}
                                    <div class="modal-footer">
                                 
                                            <input type="submit" class="btn btn-sm btn-danger" value="Bulk Delete">
                                        </div>
                                <table class="table table-bordered table-hover text-dark" id="user_report" width="100%"
                                    style="cursor: pointer;" cellspacing="0">

                                    <!-- Table Header  -->
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Username</th>
                                            <th>Role</th>
                                            <th>Description</th>
                                            <th>Location</th>
                                            {% comment %} <th>Accident Factor</th>
                                            <th>Collision Type</th> {% endcomment %}
                                            <th>Date</th>
                                            <th>Time</th>
                                            <th>Status</th>
                                            <th>Settings</th>
                                        </tr>
                                    </thead>

                                    <!-- Table Body  -->
                                    <tbody>
                                        {% for incident in incidentReports %}
                                        {% if incident.user_report.user.username %}
                                        <tr>
                                            {% if incident.user_report.status == 2 %}
                                            <td>
                                                {% comment %} <input type="checkbox" name="{{incident.id}}" id="check" disabled> {% endcomment %}
                                            </td>
                                            {% else %}
                                            <td><input type="checkbox" name="{{incident.user_report.id}}" id="check"></td>
                                            {% endif %}
                                           
                                            <td>{{incident.user_report.user.username}}</td>
                                            <td>{% if incident.user_report.user.role %}{{incident.user_report.user.get_role}}{% endif %}</td>
                                            <td>{{incident.user_report.description}}</td>
                                            <td>{{incident.user_report.address}}</td>
                                            {% comment %} <td>{{incident__incident_general.accident_factor}}</td>
                                            <td>{{incident.collision_type}}</td> {% endcomment %}
                                            <td>{{incident.user_report.date}}</td>
                                            <td>{{incident.user_report.time}}</td>
                                            <td>
                                                {% if incident.user_report.status == 1 %}
                                                <span class="badge badge-warning">{{incident.user_report.get_status}}</span>
                                                {% elif incident.user_report.status == 2 %}
                                                <span class="badge badge-success">{{incident.user_report.get_status}}</span>
                                                {% elif incident.user_report.status == 3 %}
                                                <span class="badge badge-danger">{{incident.user_report.get_status}}</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="{% url 'a_incident_report_general_view' incident.id %}"><i class='bx bxs-folder-open'
                                                    title="View"></i></a>
                                                    {% if incident.user_report.status == 2 %} 
                                                {% else %}     
                                                <a href="#" data-toggle="modal" data-target="#deleteModal{{ incident.id }}"><i class='bx bx-trash'
                                                    data-toggle="tooltip" title="Delete" ></i></a>
                                                    {% endif %}
                                           
                                            </td>
                                            
                                        </tr>
                                                <!-- Delete Modal HTML -->
                                <div class="modal fade" id="deleteuserModal{{ incident.id }}" tabindex="-1" role="dialog" aria-labelledby="usermodal" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Delete this account?</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                    </button>
                                            </div>
                                        <div class="modal-body">
                                            <h6>Do you want to delete the selected record? This process cannot be undone.</h6>
                                        </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                
                                    
                                        
                                                    <a class="btn btn-sm btn-danger" href="{% url 'user_report_delete' incident.id %}">Delete</a>
                                            
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                        {% endfor %}
                                    </tbody>
                                    <!-- End of Table Body  -->

                                </table>
                                {% else %}

                                <h5 class="text-center">No User Report Added.</h5>
                                     
                                {% endif %}
                            </form>

                                
                            </div>
                        </div>
                    </div>
                    <!-- End of User Report Table  -->

                </div>
                <!-- End of Page Content -->

                <!-- ===== END OF CONTENT  ===== -->



        </div>
        <!-- End of Main Content  -->
<!--Pagination-->
{% if incidentReports %}
<nav aria-label="Page navigation example">
   <ul class="pagination justify-content-center">
   {% if incidentReports.has_previous %}
       <li class="page-item">
       <a class="page-link" href="?page={{ incidentReports.previous_page_number }}">Previous</a>
     </li>
   {% else %}
       <li class="page-item disabled">
       <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
     </li>
   {% endif %}

   {% if incidentReports.number|add:'-4' > 1 %}
       <li class="page-item"><a class="page-link" href="?page={{ incidentReports.number|add:'-5' }}">&hellip;</a></li>
   {% endif %}

   {% for i in incidentReports.paginator.page_range %}
       {% if incidentReports.number == i %}
           <li class="page-item active" aria-current="page">
         <span class="page-link">
           {{ i }}
           <span class="sr-only">(current)</span>
         </span>
       </li>
       {% elif i > incidentReports.number|add:'-5' and i < incidentReports.number|add:'5' %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
       {% endif %}
   {% endfor %}

   {% if incidentReports.paginator.num_pages > incidentReports.number|add:'4' %}
      <li class="page-item"><a class="page-link" href="?page={{ incidentReports.number|add:'5' }}">&hellip;</a></li>
   {% endif %}

   {% if incidentReports.has_next %}
       <li class="page-item">
       <a class="page-link" href="?page={{ incidentReports.next_page_number }}">Next</a>
     </li>
   {% else %}
       <li class="page-item disabled">
       <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
     </li>
   {% endif %}
 </ul>
</nav>
{% endif %}

        <!-- Scroll to Top-->
        <a class="scroll-to-top rounded" href="#scroll-up">
            <i class='bx bxs-up-arrow'></i>
        </a>
        <!-- End of Scroll to Top-->

{% elif profile.user.role == 3 %}
{% include 'includes/sa_sidebar.html' %}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            {% include 'includes/navbar.html' %}

            <!-- Breadcrumb  -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white border mb-4 shadow rounded-0">
                    <li class="breadcrumb-item">Manage</li>
                    <li class="breadcrumb-item">Reports</li>
                    <!-- <li class="breadcrumb-item active"><a href="#">Page</a></li> -->
                    <li class="breadcrumb-item active " aria-current="page">User Report</li>
                </ol>
            </nav>
            <!-- End of Breadcrumb  -->



             <!-- ===== INSERT CONTENT HERE  ===== -->

                <!-- Page Content -->
                <div class="container-fluid">

                    <!-- Page Title -->
                    <div class="d-flex bd-highlight">
                        <div class="pg-title p-2 flex-grow-1 bd-highlight">
                            <h4>User Report Management</h4>
                        </div>
                        <div class="d-flex bd-highlight">
                            <div class="p-2 bd-highlight">
                                <a href="{% url 'simple_upload' %}" title ="Add User"
                                    class="d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-1 bd-highlight">
                                    <i class='bx bx-user-plus'></i> Upload Incident General</a>
                                    <a href="{% url 'simple_upload_additional'%}" title ="Add User"
                                    class="d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-1 bd-highlight">
                                    <i class='bx bx-user-plus'></i> Upload Incident Additional</a>
        
                                <!-- <a href="#add2"
                                    class="d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-1 bd-highlight"
                                    data-toggle="modal" data-toggle="tooltip">
                                    <i class='bx bx-user-plus'></i> Add User</a> -->
                            </div>
                        </div>
                    </div>

                    <!-- User Report Table  -->
                    <div class="card shadow mb-5">
                        <!-- Top Pagination  -->
                        <div class="card-header py-3">
                            <ul class="nav nav-pills card-header-pills">
                                <li class="nav-item">
                                    <a class="{% if '/userReports' == request.path %} nav-link active {% else %} nav-item {% endif %}" href="{% url 'user_reports' %}">All Reports</a>
                                </li>
                                <li class="nav-item">
                                    <a class="{% if '/userReports/today' == request.path %} nav-link active {% else %} nav-item {% endif %}" href="{% url 'user_reports_today' %}">Today</a>
                                </li>
                                <li class="nav-item">
                                    <a class="{% if '/userReports/pending' == request.path %} nav-link active {% else %} nav-item {% endif %}" href="{% url 'user_reports_pending' %}">Pending</a>
                                </li>
                                <li class="nav-item">
                                    <a class="{% if '/userReports/approved' == request.path %} nav-link active {% else %} nav-item {% endif %}" href="{% url 'user_reports_approved' %}">Approved</a>
                                </li>
                                <li class="nav-item">
                                    <a class="{% if '/userReports/rejected' == request.path %} nav-link active {% else %} nav-item {% endif %}" href="{% url 'user_reports_rejected' %}">Rejected</a>
                                </li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <form id="form1" action="{% url 'user_reports' %}" enctype="multipart/form-data" method="post">
                                    {% csrf_token %}
                                    
                                    {% if incidentReports %}
                                    <div class="modal-footer">
                                 
                                            <input type="submit" class="btn btn-sm btn-danger" value="Bulk Delete">
                                        </div>
                                <table class="table table-bordered table-hover text-dark" id="user_report" width="100%"
                                    style="cursor: pointer;" cellspacing="0">

                                    <!-- Table Header  -->
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Username</th>
                                            <th>Role</th>
                                            <th>Description</th>
                                            <th>Location</th>
                                            {% comment %} <th>Accident Factor</th>
                                            <th>Collision Type</th> {% endcomment %}
                                            <th>Date</th>
                                            <th>Time</th>
                                            <th>Status</th>
                                            <th>Settings</th>
                                        </tr>
                                    </thead>

                                    <!-- Table Body  -->
                                    <tbody>
                                        
                                        {% for incident in incidentReports %}
                                        {% if incident.user_report.user.username %}
                                        <tr>
                                            {% if incident.user_report.status == 2 %}
                                            <td>
                                                {% comment %} <input type="checkbox" name="{{incident.id}}" id="check" disabled> {% endcomment %}
                                            </td>
                                            {% else %}
                                            <td><input type="checkbox" name="{{incident.user_report.id}}" id="check"></td>
                                            {% endif %}
                                            <td>{{incident.user_report.user.username}}</td>
                                            <td>{% if incident.user_report.user.role %}{{incident.user_report.user.get_role}}{% endif %}</td>
                                            <td>{{incident.user_report.description}}</td>
                                            <td>{{incident.user_report.address}}</td>
                                            {% comment %} <td>{{incident__incident_general.accident_factor}}</td>
                                            <td>{{incident.collision_type}}</td> {% endcomment %}
                                            <td>{{incident.user_report.date}}</td>
                                            <td>{{incident.user_report.time}}</td>
                                            <td>
                                                {% if incident.user_report.status == 1 %}
                                                <span class="badge badge-warning">{{incident.user_report.get_status}}</span>
                                                {% elif incident.user_report.status == 2 %}
                                                <span class="badge badge-success">{{incident.user_report.get_status}}</span>
                                                {% elif incident.user_report.status == 3 %}
                                                <span class="badge badge-danger">{{incident.user_report.get_status}}</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="{% url 'incident_report_general_view' incident.id %}"><i class='bx bxs-folder-open'
                                                    title="View"></i></a>
                       
                                                    {% if incident.user_report.status == 2 %} 
                                                    {% else %}     
                                                    <a href="#" data-toggle="modal" data-target="#deleteModal{{ incident.id }}"><i class='bx bx-trash'
                                                        data-toggle="tooltip" title="Delete" ></i></a>
                                                        {% endif %}
                                            </td>
                                            
                                        </tr>
                                                <!-- Delete Modal HTML -->
                                <div class="modal fade" id="deleteuserModal{{ incident.id }}" tabindex="-1" role="dialog" aria-labelledby="usermodal" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Delete this account?</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                    </button>
                                            </div>
                                        <div class="modal-body">
                                            <h6>Do you want to delete the selected record? This process cannot be undone.</h6>
                                        </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                
                                    
                                        
                                                    <a class="btn btn-sm btn-danger" href="{% url 'user_report_delete' incident.id %}">Delete</a>
                                            
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                        {% endfor %}
                                    </tbody>
                                    <!-- End of Table Body  -->

                                </table>
                                {% else %}

                                <h5 class="text-center">No User Report Added.</h5>
                                     
                                {% endif %}
                            </form>
                                
                            </div>
                        </div>
                    </div>
                    <!-- End of User Report Table  -->

                </div>
                <!-- End of Page Content -->

                <!-- ===== END OF CONTENT  ===== -->



        </div>
        <!-- End of Main Content  -->

<!--Pagination-->
{% if incidentReports %}
<nav aria-label="Page navigation example">
   <ul class="pagination justify-content-center">
   {% if incidentReports.has_previous %}
       <li class="page-item">
       <a class="page-link" href="?page={{ incidentReports.previous_page_number }}">Previous</a>
     </li>
   {% else %}
       <li class="page-item disabled">
       <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
     </li>
   {% endif %}

   {% if incidentReports.number|add:'-4' > 1 %}
       <li class="page-item"><a class="page-link" href="?page={{ incidentReports.number|add:'-5' }}">&hellip;</a></li>
   {% endif %}

   {% for i in incidentReports.paginator.page_range %}
       {% if incidentReports.number == i %}
           <li class="page-item active" aria-current="page">
         <span class="page-link">
           {{ i }}
           <span class="sr-only">(current)</span>
         </span>
       </li>
       {% elif i > incidentReports.number|add:'-5' and i < incidentReports.number|add:'5' %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
       {% endif %}
   {% endfor %}

   {% if incidentReports.paginator.num_pages > incidentReports.number|add:'4' %}
      <li class="page-item"><a class="page-link" href="?page={{ incidentReports.number|add:'5' }}">&hellip;</a></li>
   {% endif %}

   {% if incidentReports.has_next %}
       <li class="page-item">
       <a class="page-link" href="?page={{ incidentReports.next_page_number }}">Next</a>
     </li>
   {% else %}
       <li class="page-item disabled">
       <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
     </li>
   {% endif %}
 </ul>
</nav>
{% endif %}
        <!-- Scroll to Top-->
        <a class="scroll-to-top rounded" href="#scroll-up">
            <i class='bx bxs-up-arrow'></i>
        </a>
        <!-- End of Scroll to Top-->
{% endif %}


{% include 'includes/alerts_frame.html' %}

{% endblock %}