@keyframes show-toast {
    0% {bottom: -10%}
    20% {bottom: 10px}
    80% {bottom: 10px}
    100% {bottom: -10%}
}

.show-notification {
    position: fixed;
    bottom: 50%;
    right: 50px;
    animation-name: show-toast;
    animation-duration: 8s;
    z-index: 100;
}


