{% extends "incident_report_home_member.html" %}
   {% load static %}
   {% block styles %}
   <link href=" {% static 'css/datepicker.css' %} " rel="stylesheet"> 
   <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
   <style>
    .radius-location 
    {   position: absolute; 
        top: 11px; 
        right: 15px; 
        cursor: pointer; 
    }

    .required-field::after {
        content: " *";
        color: red;
      }

   </style>
    {% endblock styles %}
    {% block form_if %}{% block form_else %}
    {% csrf_token %}

        <fieldset>
            <div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputWeather" class="required-field">Date</label>
                        {{form.date}}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputLight" class="required-field">Time</label>
                        {{form.time}}
                    </div>
                </div>
                <!-- ================================= -->
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputSeverity" class="required-field">Street Address</label>
                    {{form.address}}
                    <span id="location_open" class="radius-location" onclick="getLocation()"><iconify-icon icon="mdi:target"></iconify-icon></span>
                    </div>
                </div>
               
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {% comment %} <label for="inputSeverity">City</label> {% endcomment %}
                    {{form.city.as_hidden}}
                    </div>
                    <div class="form-group col-md-6">
                        {% comment %} <label for="inputSeverity">Zip Code</label> {% endcomment %}
                    {{form.pin_code.as_hidden}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {% comment %} <label for="inputSeverity">Latitude</label> {% endcomment %}
                    {{form.latitude.as_hidden}}
                    </div>
                    <div class="form-group col-md-6">
                        {% comment %} <label for="inputSeverity">Longitude</label> {% endcomment %}
                    {{form.longitude.as_hidden}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputSeverity" class="required-field">Description</label>
                    {{form.description}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        
                        {{form.upload_photovideo}}
                        <small for="inputSeverity" class="required-field">Upload Photo and Video related to the incident for further investigation</small>
                    </div>
                </div>

                
                <ul class="error-list" style="font-size: 10px; padding-left: 0px;">
                  
                    <li style="color:red">{{form.errors}}</li>
                  
                </ul>
      <!-- ================================= -->
                <br>
                {% comment %} <div class="modal-footer mb-3">
                    <input type="button" class="btn btn-secondary" data-dismiss="modal"
                        value="Clear">
                    <input type="submit" class="btn btn-primary" value="Save">
                </div> {% endcomment %}

                <p class="error">
                    {% if form.field.errors %}
                        {% for error in form.field.errors %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
                </p>
            </div>
        </fieldset>
    {% endblock %}{% endblock %}

    {% block scripts %}
    

<!-- Include formset plugin - including jQuery dependency -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

<script>
    var date = new Date();
     date.setDate(date.getDate()-14);
     var date1 = new Date();
     date1.setDate(date1.getDate()+0);
    $('.datepickstart').datepicker({
     autoclose: true,
     todayHighlight: true,
     format: 'mm/dd/yyyy',
      startDate: date,
      endDate: date1
    });
</script>

<script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_API_KEY}}&v=3.exp&sensor=false&libraries=places"></script>
    
    {% comment %} <script script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&dummy=.js"></script> {% endcomment %}
    
    <script script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

    <script>
        var x = document.getElementById("id_information-address");
        var current_location = sessionStorage.getItem("current_location")
        if(current_location != ""){
            x.value = current_location;
        }
        
        function getLocation() {
            if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
            } else { 
            x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }
        
        function showPosition(position) {
            var lat = position.coords.latitude
            var lng = position.coords.longitude
    
            // var lat = '19.0713949'
            // var lng = '72.9984126'
    
            // hit AJAX request to googlemaps api endpoint and get the location data using those lat and lng
            var GOOGLE_API_KEY = "{{ GOOGLE_API_KEY }}"
            var url = "https://maps.googleapis.com/maps/api/geocode/json?latlng="+lat+","+lng+"+&key="+GOOGLE_API_KEY
            
            $.ajax({
                url: url,
                type: "GET",
                success: function(response){
                    var current_location = response.results[0].formatted_address
                    x.value = current_location
                    sessionStorage.setItem("current_location", current_location)
                    window.location = '?lat='+lat+'&lng='+lng
                }
            })
        }
        </script>

        


{% endblock scripts %}