

                

   {% extends "incident_report_home_member.html" %}
   {% load static %}
   {% block styles %}
   <link href=" {% static 'css/datepicker.css' %} " rel="stylesheet"> 
    {% endblock styles %}
    {% block form_if %}{% block form_else %}
    {% csrf_token %}

        <fieldset>
            <div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputWeather">Date</label>
                        {{form.date}}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputLight">Time</label>
                        {{form.time}}
                    </div>
                </div>
                <!-- ================================= -->
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputSeverity">Street Address</label>
                    {{form.address}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputSeverity">City</label>
                    {{form.city}}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputSeverity">Zip Code</label>
                    {{form.pin_code}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputSeverity">Latitude</label>
                    {{form.latitude}}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputSeverity">Longitude</label>
                    {{form.longitude}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputSeverity">Description</label>
                    {{form.description}}
                    </div>
                </div>

                {{form.upload_photovideo}}
                <ul class="error-list" style="font-size: 10px; padding-left: 0px;">
                  
                    <li style="color:red">{{form.errors}}</li>
                  
                </ul>
      <!-- ================================= -->
                <br>
                {% comment %} <div class="modal-footer mb-3">
                    <input type="button" class="btn btn-secondary" data-dismiss="modal"
                        value="Clear">
                    <input type="submit" class="btn btn-primary" value="Save">
                </div> {% endcomment %}

                <p class="error">
                    {% if form.field.errors %}
                        {% for error in form.field.errors %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
                </p>
            </div>
        </fieldset>
    {% endblock %}{% endblock %}

    {% block scripts %}
    

<!-- Include formset plugin - including jQuery dependency -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

<script>
    var date = new Date();
     date.setDate(date.getDate()-14);
     var date1 = new Date();
     date1.setDate(date1.getDate()+0);
    $('.datepickstart').datepicker({
     autoclose: true,
     todayHighlight: true,
     format: 'mm/dd/yyyy',
      startDate: date,
      endDate: date1
    });
</script>


{% endblock scripts %}



