{% extends 'base.html' %}
{% load static %}

{% block styles %}

<link href="{% static 'css/m_myreports.css' %}" rel="stylesheet">
<link href="{% static 'css/m_reports.css' %}" rel="stylesheet">

{% endblock styles %}

{% block content %}


<!-- Page Wrapper -->

{% include 'includes/m_sidebar.html' %}
    


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            {% include 'includes/navbar.html' %}
            


            <!-- ===== MAIN CONTENT  ===== -->

           <!-- Page Content -->
           <div class="container-fluid">
                    
            <div class="d-flex bd-highlight">
                <div class="pg-title p-2 flex-grow-1 bd-highlight">
                    <h4>My Reports</h4>
                </div>
            </div>

                <div class="card social-prof">
                    <div class="card-body-profile">
                        <div>
                            {% if profile.profile_picture %}
                            <img src="{{profile.profile_picture.url}}" alt="" class="profilepicture mt-4">
                            {% else %}
                            <img src="{% static 'images/user.jpeg' %}" alt="" class="profilepicture mt-4">
                            {% endif %}
                            <h3 class="text-center">{{profile.user.first_name}} {{profile.user.last_name}}</h3>
                            <button class="member-btn mb-4" > Member </button>
                        </div>
                    </div>
                </div>


                <div class="add-incident">
                    <button class="add-incident-btn mt-2 mb-2"><i class="fa-regular fa-plus"><a href="{% url 'incident_form_member' %}" title="Add Incident Report"></i> Add Incident Report</button></a>
                </div>     
             

            <!-- Page Title -->
            

            <!-- User Report Table  -->
            <div class="card shadow mb-5">
                <!-- Top Pagination  -->
                <div class="card-header py-3">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <a class="{% if '/myReport' == request.path %} nav-link active {% else %} nav-item {% endif %}" href="{% url 'my_report' %}">All Reports</a>
                        </li>
                        <li class="nav-item">
                            <a class="{% if '/myReport/pending' == request.path %} nav-link active {% else %} nav-item {% endif %}" href="{% url 'my_report_pending' %}">Pending</a>
                        </li>
                        <li class="nav-item">
                            <a class="{% if '/myReport/approved' == request.path %} nav-link active {% else %} nav-item {% endif %}" href="{% url 'my_report_approved' %}">Approved</a>
                        <li class="nav-item">
                            <a class="{% if '/myReport/rejected' == request.path %} nav-link active {% else %} nav-item {% endif %}" href="{% url 'my_report_rejected' %}">Rejected</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <form id="form1" action="{% url 'my_report' %}" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        {% if incidentReports %}
                        <div class="modal-footer">
                     
                                <input type="submit" class="btn btn-sm btn-danger" value="Bulk Delete">
                            </div>
                    
                        <table class="table table-bordered table-hover text-dark" id="user_report" width="100%"
                            style="cursor: pointer;" cellspacing="0">

                            <!-- Table Header  -->
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Description</th>
                                    <th>Address</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Status</th>
                                    <th>Settings</th>
                                </tr>
                            </thead>
                            
                            <!-- Table Body  -->
                            <tbody>
                                {% for incident in incidentReports %}
        
                           
                                <tr>
                                    {% if incident.status == 2 %}
                                    <td>
                                        {% comment %} <input type="checkbox" name="{{incident.id}}" id="check" disabled> {% endcomment %}
                                    </td>
                                    {% else %}
                                    <td><input type="checkbox" name="{{incident.id}}" id="check"></td>
                                    {% endif %}
                                    <td>{{incident.description}}</td>
                                    <td>{{incident.address}}</td>
                                    <td>{{incident.date}}</td>
                                    <td>{{incident.time}}</td>
                                    <td>
                                        {% comment %} {{incident.status}} {% endcomment %}
                                        {% if incident.status == 1 %}
                                        <span class="badge badge-warning">{{incident.get_status}}</span>
                                        {% elif incident.status == 2 %}
                                        <span class="badge badge-success">{{incident.get_status}}</span>
                                        {% elif incident.status == 3 %}
                                        <span class="badge badge-danger">{{incident.get_status}}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'my_report_view' incident.id %}"><i class='bx bxs-folder-open'
                                                data-toggle="tooltip" title="View"></i></a>
                                                <a href="#" data-toggle="modal" data-target="#deleteModal{{ incident.id }}"><i class='bx bx-trash'
                                                    data-toggle="tooltip" title="Delete" ></i></a>
                                    </td>
                                </tr>


                                        <!-- Modals  -->
<!-- Delete Modal HTML -->
<div class="modal fade" id="deleteModal{{ incident.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete this account?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
            </div>
        <div class="modal-body">
            <h6>Do you want to delete the selected record? This process cannot be undone.</h6>
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                
    
        
                    <a class="btn btn-sm btn-danger" href="{% url 'my_report_delete' incident.id %}">Delete</a>
            
                </div>
        </div>
    </div>
</div>
                               

                                <!-- End of Modals  -->
                               {% endfor %}
                            </tbody>
                            <!-- End of Table Body  -->
                        </table>
                   
                        {% else %}

                        <h5 class="text-center">No User Report.</h5>
                             
                        {% endif %}

                    </form>
                        

                    </div>
                </div>
            </div>
            <!-- End of User Report Table  -->


            <!--Pagination-->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {% if incidentReports.has_previous %}
            <li class="page-item">
            <a class="page-link" href="?page={{ incidentReports.previous_page_number }}">Previous</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
          </li>
        {% endif %}

        {% if incidentReports.number|add:'-4' > 1 %}
            <li class="page-item"><a class="page-link" href="?page={{ incidentReports.number|add:'-5' }}">&hellip;</a></li>
        {% endif %}

        {% for i in incidentReports.paginator.page_range %}
            {% if incidentReports.number == i %}
                <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
            {% elif i > incidentReports.number|add:'-5' and i < incidentReports.number|add:'5' %}
                 <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if incidentReports.paginator.num_pages > incidentReports.number|add:'4' %}
           <li class="page-item"><a class="page-link" href="?page={{ incidentReports.number|add:'5' }}">&hellip;</a></li>
        {% endif %}

        {% if incidentReports.has_next %}
            <li class="page-item">
            <a class="page-link" href="?page={{ incidentReports.next_page_number }}">Next</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    <!--end of Pagination-->

        </div>
        <!-- End of Page Content -->


 
            <!-- ===== END OF CONTENT  ===== -->



        </div>
        <!-- End of Main Content  -->




        <!-- Scroll to Top-->
        <a class="scroll-to-top rounded" href="#scroll-up">
            <i class='bx bxs-up-arrow'></i>
        </a>
        <!-- End of Scroll to Top-->

        {% include 'includes/alerts_frame.html' %}

{% endblock %}



<!-- User Report Vendor Script-->


