{% load static %}
<footer class="nb-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about">
                    <p>Do you have any question? Reach out to Us</p>
                    <div class="social-media">
                        <ul class="list-group list-group-horizontal d-flex justify-content-center align-items-center">
                            <li class="fb"><a href="#"><span class="bi bi-facebook" style="font-size: 1.3rem; color: #3742d0;"></span></a></li>
                            <li class="tw"><a href="#"><span class="bi bi-twitter" style="font-size: 1.3rem; color: #15b8ff;"></span></a></li>
                            <li class="in"><a href="#"><span class="bi bi-google" style="font-size: 1.3rem; color: #dd4d5a;"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <p>© 2022 | Trapiko: Traffic Incident Report Management System by Link Technologies. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </section>
</footer>

<!-- Bootstrrap JS Bundle  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<!-- Custom JS  -->
<script src="{% static 'js/header.js' %}"></script>

</body>

</html>