{% load static %}
<!-- Start of Topbar / Header -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle  -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto">
        <!-- Search -->
        <form class="d-none d-sm-inline-block form-inline navbar-search">
            <div class="input-group">
                <input type="text" class="form-control bg-light border-1 small"
                    placeholder="Searching for ..." aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-darkBlue" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>

        <!-- Search for small screen-->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small"
                            placeholder="Searching for ..." aria-label="Search">
                            
                        <div class="input-group-append">
                            <button class="btn btn-darkBlue" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>

                        
                </form>
            </div>
        </li>

        <!-- User Photo -->
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'notifications' %}">
                <img class="img-profile rounded-circle" src="{% static 'images/user.jpeg' %}">
            </a>
        </li>
    </ul>
    <!-- End of Navbar -->

</nav>
<!-- End of Topbar -->