{% extends 'base.html' %}

{% load static %}

{% block styles %}

<link href="{% static 'css/user_account.css' %}" rel="stylesheet">
<link href="{% static 'css/m_myreports.css' %}" rel="stylesheet">
<link href="{% static 'css/m_reports.css' %}" rel="stylesheet">


{% endblock styles %}

{% block content %}

{% include 'includes/sa_sidebar.html' %}

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        {% include 'includes/navbar.html' %}



        <!-- ===== INSERT CONTENT HERE  ===== -->

        <!-- Main Section Start -->
        <!-- Page Content -->
        <div class="container-fluid">

            <!-- Page Title -->
            <div class="d-flex bd-highlight">
                <div class="pg-title p-2 flex-grow-1 bd-highlight">
                    <h4>Attributes Builder - Collision Type</h4>
                </div>
                <div class="d-flex bd-highlight">
                    <div class="p-2 bd-highlight">
                        <a href="{% url 'attributes_builder_collision_add' %}" title ="Add User"
                            class="d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-1 bd-highlight">
                            <i class='bx bx-user-plus'></i> Add Collision Type</a>
                         {% comment %} <a href="{% url 'attributes_builder_collision_add_sub' %}" title ="Add User"
                            class="d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-1 bd-highlight">
                            <i class='bx bx-user-plus'></i> Add Collision Type Sub Category</a> {% endcomment %}
                        <!-- <a href="#add2"
                            class="d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-1 bd-highlight"
                            data-toggle="modal" data-toggle="tooltip">
                            <i class='bx bx-user-plus'></i> Add User</a> -->
                    </div>
                </div>
            </div>
            

            <!-- User Report Table  -->
            <div class="card shadow mb-5 d-flex ">
      

                <div class="card-body">
                    <div class="table-responsive">
                        <form id="form1" action="{% url 'attributes_builder_collision' %}" enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                            
                            {% if collision_type %}
                            <div class="modal-footer">
                         
                                    <input type="submit" class="btn btn-sm btn-danger" value="Bulk Delete">
                                </div>
                        <table class="table table-bordered table-hover text-dark" id="user_report" width="100%"
                            style="cursor: pointer;" cellspacing="0">

                            <!-- Table Header  -->
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Collision Type</th>
                                    <th>Created Date</th>
                                    <th>Modified Date</th>
                                    <th>Settings</th>
                                </tr>
                            </thead>

                            <!-- Table Body  -->
                            <tbody>
                                {% for collision_types in collision_type %}
        
                                <tr>
                                    <td><input type="checkbox" name="{{collision_types.id}}" id="check"></td>
                                    <td>{{collision_types}}</td>
                                    <td>{{collision_types.created_at}}</td>
                                    <td>{{collision_types.updated_at}}</td>
                                    
                                    <td>
                                        {% comment %} <a href="{% url 'attributes_builder_collision_sub' collision_types.id  %}"><i class='bx bxs-folder-open'
                                            title="View"></i></a> {% endcomment %}
                                            <a href="{% url 'attributes_builder_collision_edit' collision_types.id %}"><i class='bx bxs-edit'
                                                title="Edit"></i></a>
                                            <a href="#" data-toggle="modal" data-target="#deleteuserModal{{ collision_types.id }}"><i class='bx bx-trash'
                                                data-toggle="tooltip" title="Delete" ></i></a>
                                                
                                    </td>
                                </tr>

                                 <!-- Delete Modal HTML -->
                        <div class="modal fade" id="deleteuserModal{{ collision_types.id }}" tabindex="-1" role="dialog" aria-labelledby="usermodal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete this account?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                <div class="modal-body">
                                    <h6>Do you want to delete the selected record? This process cannot be undone.</h6>
                                </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        
                            
                                
                                            <a class="btn btn-sm btn-danger" href="{% url 'attributes_builder_collision_delete' collision_types.id%}">Delete</a>
                                    
                                        </div>
                                </div>
                            </div>
                        </div>
                        
                               {% endfor %}
                            </tbody>
                            <!-- End of Table Body  -->

                        </table>
                        {% else %}

                        <h5 class="text-center">No Collision Type Added.</h5>
                             
                        {% endif %}

                    </form>
                    </div>
                </div>
            </div>
            <!-- End of User Report Table  -->
              <!--Pagination-->
              {% if collision_type %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {% if collision_type.has_previous %}
            <li class="page-item">
            <a class="page-link" href="?page={{ collision_type.previous_page_number }}">Previous</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
          </li>
        {% endif %}

        {% if collision_type.number|add:'-4' > 1 %}
            <li class="page-item"><a class="page-link" href="?page={{ collision_type.number|add:'-5' }}">&hellip;</a></li>
        {% endif %}

        {% for i in collision_type.paginator.page_range %}
            {% if collision_type.number == i %}
                <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
            {% elif i > collision_type.number|add:'-5' and i < collision_type.number|add:'5' %}
                 <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if collision_type.paginator.num_pages > collision_type.number|add:'4' %}
           <li class="page-item"><a class="page-link" href="?page={{ collision_type.number|add:'5' }}">&hellip;</a></li>
        {% endif %}

        {% if collision_type.has_next %}
            <li class="page-item">
            <a class="page-link" href="?page={{ collision_type.next_page_number }}">Next</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
    <!--end of Pagination-->
        </div>
        <!-- End of Page Content -->
         </div>

        <!-- Main Section End -->
        <!-- ===== END OF CONTENT  ===== -->
 <!-- Scroll to Top-->
 <a class="scroll-to-top rounded" href="#scroll-up">
    <i class='bx bxs-up-arrow'></i>
</a>
<!-- End of Scroll to Top-->


{% comment %} {% include 'includes/alerts_frame.html' %} {% endcomment %}


{% endblock %}